body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  color: #102542;
  font-family: "Mitr", sans-serif;
}
.wrap {
  width: 1170px;
  margin: 0 auto;
}
header {
  text-align: center;
}
.fr-li {
  margin: 1rem 0;
  padding: 1rem;
  background: #fcf7f8;
  display: flex;
  align-items: center;
  align-content: center;
}
.fr-li.active {
  opacity: 0.7;
}
.fr-li span.nick {
  flex-basis: 40%;
}
.fr-li span.level {
  font-weight: 300;
}
.fr-li button {
  align-self: flex-end;
  margin-left: auto;
  background-color: #1b998b;
}
.fr-li button:hover {
  background-color: #034748;
}
.fr-li button:disabled {
  background-color: rgba(#ced3dc, 0.3);
}
